<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<center>	
	<div id="container">
			<h3>Update your listing</h3>
			<br>
			<div class="gear">
				<label>Title:</label>
				<span id="name" method="name" listing="<%= @listing.id %>" class="datainfo"><%= @listing.name %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Description:</label>
				<span id="description" method="description" listing="<%= @listing.id %>" class="datainfo"><%= @listing.description %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Country:</label>
				<span id="lastname" method="country" listing="<%= @listing.id %>" class="datainfo"><%= @listing.country %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Address:</label>
				<span id="dateofbirth" method="address" listing="<%= @listing.id %>" class="datainfo"><%= @listing.address %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Room type:</label>
				<span id="dateofbirth" method="room_type" listing="<%= @listing.id %>" class="datainfo"><%= @listing.room_type %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Accomodates:</label>
				<span id="dateofbirth" method="accomodates" listing="<%= @listing.id %>" class="datainfo"><%= @listing.accomodates %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Number of beds:</label>
				<span id="dateofbirth" method="number_of_beds" listing="<%= @listing.id %>" class="datainfo"><%= @listing.number_of_beds %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Number of bathrooms:</label>
				<span id="dateofbirth" method="number_of_bathrooms" listing="<%= @listing.id %>" class="datainfo"><%= @listing.number_of_bathrooms %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>

			<div class="gear">
				<label>Price:</label>
				<span id="dateofbirth" method="price" listing="<%= @listing.id %>" class="datainfo"><%= @listing.price %></span>
				<a href="#" class="editlink" name="listing_edit">Edit Info</a>
				<a class="savebtn" name="listing">Save</a>
			</div>
		</div>
	</center>

