<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>			
			<div class="profileinfo">
				<h2>Update your Profile Info &rarr;</h2>
				
				<div class="gear">
					<label>Primary E-Mail:</label>
					<span id="email" method="email" user="<%= current_user.id %>" class="datainfo"><%= current_user.email %></span>
					<a href="#" class="editlink" name="profile_edit">Edit Info</a>
					<a class="savebtn" name="profile">Save</a>
				</div>
				
				<div class="gear">
					<label>First name:</label>
					<span id="firstname" method="first_name" user="<%= current_user.id %>" class="datainfo"><%= current_user.first_name %></span>
					<a href="#" class="editlink" name="profile_edit">Edit Info</a>
					<a class="savebtn" name="profile">Save</a>
				</div>
				
				<div class="gear">
					<label>Last name:</label>
					<span id="lastname" method="last_name" user="<%= current_user.id %>" class="datainfo"><%= current_user.last_name %></span>
					<a href="#" class="editlink" name="profile_edit">Edit Info</a>
					<a class="savebtn" name="profile">Save</a>
				</div>
				
				<div class="gear">
					<label>Date of Birth:</label>
					<span id="dateofbirth" method="date_of_birth" user="<%= current_user.id %>" class="datainfo"><%= current_user.date_of_birth %></span>
					<a href="#" class="editlink" name="profile_edit">Edit Info</a>
					<a class="savebtn" name="profile">Save</a>
				</div>
				
				<div class="gear">
					<label>Subscribe to newsletter:</label>
					<span id="occupation" class="datainfo"><%= 'Create a checkbox somehow' %> </span>
					<a href="#" class="editlink" name="profile_edit">Edit Info</a>
					<a class="savebtn" name="profile">Save</a>
				</div>
			</div>
	</div>
</body>




<p> My reservations <p>
<br>
<% if current_user.reservations.empty? %>
<p> <%= "You currently don't have any reservations" %> </p>
<% else %>
<% current_user.reservations.each do |reservation| %> 
<p> Name: <%= reservation.listing.name %> </p>
<p> Description: <%= reservation.listing.description %> </p>
<p> Check-in date: <%= reservation.start_date %> </p>
<p> Check-out date: <%= reservation.end_date %> </p>
<% end %> 
<% end %>

